<div class="mt-2">
    <ul id="toolbarList" class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="loadBrowseView('<%= tableName %>')" data-table="<%= tableName %>">Browse</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="loadTableDetails('<%= tableName %>')" data-table="<%= tableName %>">Details</a>
        </li>
    </ul>
</div>
